{
  "plugins": ["prettier-plugin-css-order"],
  "overrides": [
    {
      "files": ["tsconfig.json"],
      "options": {
        "parser": "json5",
        "quoteProps": "preserve"
      }
    }
  ]
}
